body {
  font-family: 'Irish Grover', cursive;
  margin: 0;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.red {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #d64528;
  color: white;
  font-size: 3em;
  padding: 40px 20px;
}


.yellow {
  background-color: #de6727;
  color: #eee;
  font-size: 2em;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.yellow iframe {
  width: 60%;
  margin-top: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.social-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.4s;
}

.social-icon:hover {
  transform: scale(1.2);
}



.section-green {
  background-color: #cac084;
  color: #333;
  font-size: 2em;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 50px;
  padding: 70px 80px;
  text-align: center;
  grid-auto-rows: minmax (15em, auto); 
}


.titre-central {
  font-size: 2em;
  letter-spacing: 8px;
  font-family: 'Irish Grover', cursive;
}

.image-burger {
  max-width: 400px;
  height: auto;
}




@media screen and (max-width: 600px){
  .red {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
  .section-green{
    grid-template-columns: 1fr;
    padding: 0;
  }
}